 #logotipo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:200px
  }

  body{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    background-color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
  }
p{
    text-align: justify;
}

  img,iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }



h1,h2{
    color: brown;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 800; 
}




a:link {
    color: green
}


a:visited {
    color: orange
}


a:hover {
    color: hotpink;
}


a:active {
    color: blue;
}

a[href^="http"] {
    background: url(../img/globo.png) no-repeat;
   padding-left: 2%;

}

.nota{
    opacity:0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);
    
}

.nup {
    font-size: 25px;
    color:salmon;
    background-color:pink; 
}


.nop {
    font-size: 20px;
  
}
